<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h4>Location <span class="label label-default">We are here</span>
                    </h4>
                    <p class="white">School of Aeronautics, Friendship Campus, <br>NWPU</br>
                    </p>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Collaborate with us <span class="label label-default">let's connect</span>
                    </h4>
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/609520262/Entropy-theory" class="btn-social btn-outline"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-gitlab"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-bitbucket"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h4>About us <span class="label label-default">IMLAB</span>
                    </h4>
                    <img src="/assets/微信图片_20230308214236.jpg" alt="微信图片_20230224174522.jpg" />
                    <p class="white">Intelligent Operations and Maintenance Laboratory</p>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">

                    <p class="black">Copyright &copy; IMALB 2023,Made by IMLAB</a> In China. </p>
                </div>
            </div>
        </div>
    </div>
</footer>



        <!-- Scroll to Top Button -->
        <button href="#top" id="backToTopBtn" class="btn btn-md scroll"><span class="glyphicon glyphicon-chevron-up"></span></button>
        <script>
            $('#backToTopBtn').click(function() {
                $('html,body').animate({
                    scrollTop: 0
                }, 'slow');
                return false;
            });

           
        </script>
        <script>
            $(document).ready(function() {

                //Check to see if the window is top if not then display button
                $(window).scroll(function() {
                    if ($(this).scrollTop() > 100) {
                        $('.scroll').fadeIn();
                    } else {
                        $('.scroll').fadeOut();
                    }
                });

                //Click event to scroll to top
                $('.scroll').click(function() {
                    $('html, body').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });

            });
        </script>




        <% if (config.disqus_shortname){ %>
            <script>
                var disqus_shortname = '<%= config.disqus_shortname %>';
                <% if (page.permalink){ %>
                var disqus_url = '<%= page.permalink %>';
                <% } %>
                (function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <% } %>
