<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a href="#" class="logo"><img src="/assets/logo.png" alt="Italian Trulli"></a>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/">Home</a>
                </li>
                <li class="page-scroll">
                    <a href="/Member">Member</a>
                </li>
                <li class="page-scroll">
                    <a href="/docs">Achievement</a>
                    <ul id="guides-menu" class="submenu guides inline-submenu-lg" aria-labelledby="guides-button">
                        <li class="apis-link-container mobile-only "><a href="/zh-CN/docs/Learn" class="submenu-item ">
                                <div class="submenu-icon learn"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">Entropy</div>
                                    <p class="submenu-item-description">Learn web development</p>
                                </div>
                            </a></li>
                        <li class="apis-link-container desktop-only "><a href="/zh-CN/docs/Learn" class="submenu-item ">
                                <div class="submenu-icon learn"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">Artificial Intelligence</div>
                                    <p class="submenu-item-description">Learn web development</p>
                                </div>
                            </a></li>
                        <li class="html-link-container "><a href="/zh-CN/docs/Learn/HTML" class="submenu-item ">
                                <div class="submenu-icon html"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">Dynamic Systems</div>
                                    <p class="submenu-item-description">Learn to structure web content with HTML</p>
                                </div>
                            </a></li>
                        <li class="css-link-container "><a href="/zh-CN/docs/Learn/CSS" class="submenu-item ">
                                <div class="submenu-icon css"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">Robot</div>
                                    <p class="submenu-item-description">Learn to style content using CSS</p>
                                </div>
                            </a></li>
                        <li class="javascript-link-container "><a href="/zh-CN/docs/Learn/JavaScript" class="submenu-item ">
                                <div class="submenu-icon javascript"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">Fault Diagnosis</div>
                                    <p class="submenu-item-description">Learn to run scripts in the browser</p>
                                </div>
                            </a></li>
                        <li class=" "><a href="/zh-CN/docs/Web/Accessibility" class="submenu-item ">
                                <div class="submenu-icon"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">Accessibility</div>
                                    <p class="submenu-item-description">Learn to make the web accessible to all</p>
                                </div>
                            </a></li>
                    </ul>
                </li>
                
                <li class="page-scroll">
                    <a href="/docs">Bench</a>
                </li>
                <li class="page-scroll">
                    <a href="/portfolio">Public</a>
                </li>
                <li class="page-scroll">
                    <a href="/docs">Docs</a>
                </li>
                <li class="page-scroll">
                    <a href="/contact">Download</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>